.menudrop {
    position: relative;
    display: inline-block;
}
.menudrop-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
}
.menudrop:hover .menudrop-content {
    display: block;
}
.menudrop-content a {
    display: block;
    text-decoration: none;
   
}